.Analytics {
    text-align: center;
}

.filters {
    display: flex;
    flex-direction: row;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.dropdown, .dropdown-active {}

.dropdown {
    animation: fadeOut 0.2s ease-in-out forwards;
}

.dropdown-active {
    animation: fadeIn 0.2s ease-in-out forwards;

}